# Master password for the car
PASSWORD="please_set_this"

# Interval between metrics update (default: 60)
INTERVAL=60

# Automatic OTA updates (1=enable, 0=disable)
OTA_UPDATES=1

# ------------------------
# -- MISC CONFIGURATION --

# API endpoint for the server
BASE_API=https://api.altesla.app

# Enable debug mode
LOCAL_DEBUG=0

# Command executor lock file
LOCKFILE="/tmp/altesla.lock"

# OTA updates branch (stable/beta)
UPDATES_BRANCH=stable
